.sg-header {
  padding: 3% 0 3% 0;
}

.sg-instructions {
  line-height: 1.6;
}

.hideborder {
  border-bottom: none;
}

.sg-max-characters {
  display: none;
}

.display-text {
  font-size: 18px;
}

.headline {
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .study-questions-ins {
    font-size: 18px!important;
  }

  .headline {
    font-size: 20px;
  }
  
  img.sg-header-image {
    max-width: 40%!important;
    margin: 0 auto;
  }
  
  .sg-survey .sg-mobile-optimized .sg-title {
    text-align: center;
  }

  .display-text {
    font-size: 16px;
  }
}